* {
    margin: 0;
    padding: 0;
}

body {
    padding: 2rem;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

body > div {
    width: 70%;
    display: flex;
    flex-direction: column;
}

header > div {
    width: 100%;
    border-radius: 8px;
    background-color: gainsboro;
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-session {
    flex-grow: 1;
}

footer {
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}