<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <title>Listinha de tarefas</title>
</head>
<body>
    <div>
        <div class="upper-session">
            <header>
                <div>
                    <h1>Lista de tarefas</h1>
                </div>
            </header>
            <main>
                <a href="./nova-tarefa">
                    <button type="button">
                        Criar tarefa
                    </button>
                </a>
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Descrição</th>
                            <th>Criado em</th>
                            <th>Concluir em</th>
                            <th>Concluído?</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .tasks }}
                        <tr>
                            <td>{{.Id}}</td> 
                            <td>{{.Description}}</td>
                            <td>{{.CreatedAt}}</td>
                            <td>{{.Deadline}}</td>
                            <td>{{.IsCompleted}}</td>
                            <td>
                                <a href="/concluir-tarefa?id={{.Id}}">
                                    <button type="button">
                                        Concluir
                                    </button>
                                </a>
                                <a href="/editar-tarefa?id={{.Id}}">
                                    <button type="button">
                                        Editar
                                    </button>
                                </a>
                                <a href="/deletar-tarefa?id={{.Id}}">
                                    <button type="button">
                                        Deletar
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </main>
        </div>
        <footer>
            <p>2023 - Eron Alves</p>
        </footer>
    </div>
</body>
</html>